body,
html,
ul,
li,
a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #f4f4f4;
}

/* 顶部样式 */
header {
    width: 100%;
    height: 60px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px 5px #ccc;
}

.top {
    height: 60px;
    width: 70%;
    /* border: 1px solid green; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}


.top_left {
    flex-grow: 1;
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.top_left img {
    height: 50px;
}

.top_center {
    flex-grow: 5;
}

.top_center>ul,
.top_right>ul {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_center>ul>li>a,
.top_right>ul>li>a {
    font-size: 14px;
    color: rgba(31, 45, 61, 0.5);
    font-weight: bold;
}

/* 更多课程中的导航条 */
.top_center>ul>li:first-child {
    position: relative;
}

.top_center>ul>li:first-child:hover>div {
    display: block;
}

.top_center>ul>li:first-child>div {
    display: none;
    position: absolute;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 170px;
    background-color: #fff;
    top: 25px;
    left: -10px;
}

.top_center>ul>li:first-child>div>ul>li {
    margin-top: 5px;
}

.top_center>ul>li:first-child>div>ul>li>a {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    padding: 0 10px;
}

.top_center>ul>li:first-child>div>ul>li>a>span {
    margin-left: 10px;
    color: #8492a6;
    font-size: 12px;
    font-weight: bold;
}

.top_center>ul>li:first-child>div>ul>li>a>img {
    height: 40px;
}

.top_right {
    flex-grow: 1;
}

.top_right>ul {
    justify-content: space-around;
}

nav {
    width: 70%;
    height: 80px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 5px 5px #ccc;
    border-radius: 10px;
    margin-bottom: 20px;
}

nav>ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
}

nav>ul>li:first-child {
    /* border: 1px solid red; */
    padding: 10px 50px;
    background-color: #8492a6;
    border-radius: 5px;
}

nav>ul>li>a {
    color: #8492a6;
}

nav>ul>li:first-child>a {
    color: #ffffff;
}

#content {
    width: 70%;
    /* border: 1px solid blue; */
    margin: 0 auto;
}

.content {
    width: 100%;
    /* border: 2px solid green;
            height: 300px; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.content>section {
    width: 24%;
    /* height: 200px; */
    /* border: 1px solid green; */
}

.content>section>section:first-child {
    /* border: 1px solid red; */
    position: relative;
    min-width: 220px;
}

.content>section>section:first-child>img {
    width: 100%;
    border-radius: 5px;
    min-width: 220px;
}

.content>section>section:first-child>span {
    position: absolute;
    background-color: #ffaa00;
    border: 2px solid #fff;
    color: #fff;
    font-size: 12px;
    padding: 0 5px;
    border-radius: 10px;
    top: 5px;
    left: -10px;
}

.content>section>section:first-child>section {
    /* border: 1px solid red; */
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
}

.content>section>section:first-child>section>article {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    font-size: 12px;
    padding: 2px 5px;
    margin-right: 5px;
}

.content>section>section:nth-child(2) {
    font-size: 14px;
    margin-bottom: 20px;
    min-width: 180px;
}

.content>section>section:last-child {
    /* border: 1px solid red; */
    min-width: 220px;
}

.content>section>section:last-child>article>span {
    font-size: 12px;
    color: #8492a6;
}

.content>section>section:last-child>article:first-child>span:first-child {
    background-color: #b572e5;
    font-size: 12px;
    color: #fff;
    border-radius: 5px;
    padding: 2px 5px;
}

.content>section>section:last-child>article:first-child>span:last-child {
    float: right;
    margin-top: 2px;
    margin-right: 5px;
}

.content>section>section:last-child>article:first-child>span:last-child>i {
    color: orange;
    letter-spacing: -5px;
}

.content>section>section:last-child>article:last-child>span:nth-child(2) {
    color: #000000;
    font-size: 14px;
}

.content>section>section:last-child>article:last-child>span:last-child {
    float: right;
    color: #fff;
    background-color: orange;
    border-radius: 5px;
    padding: 2px 5px;
    margin-top: 2px;
}



/* 分页效果 */
#page {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#page article {
    padding: 8px 15px;
    border: 1px solid #e1e2e3;
    cursor: pointer;
    margin: 0 5px;
}


#page article:hover {
    background: #f2f8ff;
}



/* 底部样式 */
footer {
    width: 100%;
    background-color: #fff;
    height: 320px;
}

.footer {
    width: 70%;
    /* border: 1px solid green; */
    height: 300px;
    margin: 0 auto;
    display: flex;
    font-size: 14px;
    color: #8492a6;
}

.footer_bottom {
    margin: 0 auto;
    width: 70%;
    height: 20px;
    text-align: center;
}


.footer_left {
    flex-grow: 2;
    width: 40%;
    position: relative;
}

.footer_left>img {
    position: absolute;
    width: 130px;
    top: -30px;
    left: calc(50% - 130px /2);
}

.footer_left>p {
    margin-top: 60px;
    text-indent: 2em;
}

.footer_center {
    flex-grow: 5;
    display: flex;
    justify-content: space-around;
}


.footer_center>div>h6 {
    font-size: 18px;
    border-bottom: 1px solid #0097e1;
    padding-bottom: 10px;
}

.footer_center>div>ul {
    /* border: 1px solid blue; */
    text-align: center;
}

.footer_center>div>ul>li {
    margin-top: 10px;
}

.footer_center>div>ul>li>a {
    color: #8492a6;
}

.footer_right {
    /* flex: 1; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer_right>img {
    margin-top: 80px;
    width: 100px;
}


.pad {
    display: none;
}

/* pc端样式 */
@media screen and (min-width:960px) {
    .top {
        min-width: 960px;
    }

    /* 导航样式 */
    nav {
        min-width: 750px;
    }

    /* 内容区域 */
    #content {
        min-width: 960px;
    }

    /* 底部样式 */
    .footer {
        min-width: 960px;
    }

    .footer_bottom {
        min-width: 960px;
    }
}


/* pad端样式 */
@media screen and (min-width:750px) and (max-width:960px) {
    .top {
        min-width: 750px;
    }

    .top_center,
    .top_right {
        display: none;
    }

    .pad {
        display: block;
        line-height: 60px;
        color: #8492a6;
    }

    .pad>div {
        width: 100%;
        height: 300px;
        background-color: #fff;
        position: absolute;
        left: 0;
        z-index: 1;
        display: none;
    }

    .pad>div>section {
        width: 60%;
        margin: 0 auto;
    }

    .pad:hover>div {
        display: block;
    }

    /* 导航样式 */
    nav {
        min-width: 750px;
    }

    nav ul {
        border: 1px solid red;
        /* flex-wrap: wrap; */
    }

    #content {
        min-width: 750px;
    }

    .content {
        min-width: 750px;
        flex-wrap: wrap;
    }

    .content>section {
        width: 46%;
        margin-bottom: 40px;
    }

    /* 底部样式 */
    .footer {
        min-width: 750px;
    }

    .footer_bottom {
        min-width: 750px;
    }
}

/* 移动端样式 */

@media screen and (max-width:750px) {

    .top_center,
    .top_right {
        display: none;
    }

    .pad {
        display: block;
        line-height: 60px;
        color: #8492a6;
    }

    .pad>div {
        width: 100%;
        height: 300px;
        background-color: #fff;
        position: absolute;
        left: 0;
        z-index: 1;
        display: none;
    }

    .pad>div>section {
        width: 60%;
        margin: 0 auto;
    }

    .pad:hover>div {
        display: block;
    }

    /* 导航样式 */
    nav {
        min-width: 200px;
        height: 130px;
    }

    nav>ul {
        flex-wrap: wrap;
        padding: 5px;
    }

    nav>ul>li {
        width: 32%;
        padding: 8px 0;
        text-align: center;
    }

    nav>ul>li:first-child {
        padding: 10px 0;
    }

    /* 内容区域 */
    #content {
        min-width: 200px;
    }

    .content {
        min-width: 200px;
        flex-wrap: wrap;
    }

    .content>section {
        width: 100%;
        margin-bottom: 40px;
    }

    /* 底部样式 */
    .footer {
        min-width: 200px;
        flex-direction: column;
    }

    .footer_bottom {
        min-width: 200px;
    }

    /* 隐藏中间内容 */
    .footer_center {
        display: none;
    }

    /* 重新调整样式 */


    .footer_left {
        /* border: 1px solid blue; */
        width: 100%;
        /* height: auto; */
    }

    .footer_right {
        /* border: 1px solid green; */
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
    }

    .footer_right>img {
        margin-top: 20px;
    }

    footer,
    .footer {
        height: auto;
    }
}
